{% include 'header.html' %}

日付：{{ dt_now|date:'Y-m-d'}}<br>

<table class='table'>
    <tr>
        <th>時刻</th>
        <th>イベント</th>
        <th>評価</th>
        <th>備考</th>
    </tr>        
{% for event in events %}
    <tr>
        <td>{{ event.timestamp|time:'H:i' }}</td>
        <td>{{ event.getTypeString }}</td>
        <td>{{ event.getValueString }}</td>
        <td>{{ event.memo }}</td>
    </tr>
{% endfor %}
</table>
<br>
<a href="/csv">CSV Output</a><br>

{% include 'footer.html' %}


