{% include 'header.html' %}

<div class="row-fluid">
<div class="span12">
    <a href="#pee" class="btn btn-large btn-block" type="button">おしっこ</a><br>
    <a href="#boo" class="btn btn-large btn-block" type="button">うんち</a><br>
    <a href="#peeboo" class="btn btn-large btn-block" type="button">おしっこ＆うんち</a><br>
    <a href="#milk" class="btn btn-large btn-block" type="button">母乳</a><br>
    <a href="#formula" class="btn btn-large btn-block" type="button">ミルク</a><br>
    <a href="#other" class="btn btn-large btn-block" type="button">その他</a><br>
</div>
</div>

<a name="pee"></a>
<br><br>
<h3>おしっこ</h3>
<form method="POST" action="/save">
    <input type="hidden" name="type" value="pee">
    <input type="date" name="date" value="{{ nowdate }}"><br>
    <input type="time" name="time" value="{{ nowtime }}"><br>
    <div class="btn-group peebtn" data-toggle="buttons-radio">
        <button type="button" class="btn" name="value" value="3">◎</button>
        <button type="button" class="btn active" name="value" value="2">◯</button>
        <button type="button" class="btn" name="value" value="1">△</button>
    </div>
    <input type="hidden" id="peebtn" name="value" value="2">
    <br>
    <textarea name="memo"></textarea>
    <br>
    <a href="/" class="btn btn-large" type="button">キャンセル</a>
    <input class="btn btn-large" type="submit" value="登録">
</form>

<a name="boo"></a>
<br><br>
<h3>うんち</h3>
<form method="POST" action="/save">
    <input type="hidden" name="type" value="boo">
    <input type="date" name="date" value="{{ nowdate }}"><br>
    <input type="time" name="time" value="{{ nowtime }}"><br>
    <div class="btn-group boobtn" data-toggle="buttons-radio">
        <button type="button" class="btn" name="value" value="3">◎</button>
        <button type="button" class="btn active" name="value" value="2">◯</button>
        <button type="button" class="btn" name="value" value="1">△</button>
    </div>
    <input type="hidden" id="boobtn" name="value" value="2">
    <br>
    <textarea name="memo"></textarea>
    <br>
    <a href="/" class="btn btn-large" type="button">キャンセル</a>
    <input class="btn btn-large" type="submit" value="登録">
</form>

<a name="peeboo"></a>
<br><br>
<h3>おしっこ＆うんち</h3>
<form method="POST" action="/save">
    <input type="hidden" name="type" value="peeboo">
    <input type="date" name="date" value="{{ nowdate }}"><br>
    <input type="time" name="time" value="{{ nowtime }}"><br>
    尿<div class="btn-group pee2btn" data-toggle="buttons-radio">
        <button type="button" class="btn" name="value" value="3">◎</button>
        <button type="button" class="btn active" name="value" value="2">◯</button>
        <button type="button" class="btn" name="value" value="1">△</button>
    </div>
    <input type="hidden" id="pee2btn" name="value" value="2">
    <br>
    便<div class="btn-group boo2btn" data-toggle="buttons-radio">
        <button type="button" class="btn" name="value2" value="3">◎</button>
        <button type="button" class="btn active" name="value2" value="2">◯</button>
        <button type="button" class="btn" name="value2" value="1">△</button>
    </div>
    <input type="hidden" id="boo2btn" name="value2" value="2">
    <br>
    <textarea name="memo"></textarea>
    <br>
    <a href="/" class="btn btn-large" type="button">キャンセル</a>
    <input class="btn btn-large" type="submit" value="登録">
</form>

<a name="milk"></a>
<br><br>
<h3>母乳</h3>
<form method="POST" action="/save">
    <input type="hidden" name="type" value="milk">
    <input type="date" name="date" value="{{ nowdate }}"><br>
    <input type="time" name="time" value="{{ nowtime }}"><br>
    <div class="btn-group milkbtn" data-toggle="buttons-radio">
        <button type="button" class="btn" name="value" value="3">◎</button>
        <button type="button" class="btn active" name="value" value="2">◯</button>
        <button type="button" class="btn" name="value" value="1">△</button>
    </div>
    <input type="hidden" id="milkbtn" name="value" value="2">
    <br>
    <textarea name="memo"></textarea>
    <br>
    <a href="/" class="btn btn-large" type="button">キャンセル</a>
    <input class="btn btn-large" type="submit" value="登録">
</form>

<a name="formula"></a>
<br><br>
<h3>ミルク</h3>
<form method="POST" action="/save">
    <input type="hidden" name="type" value="formula">
    <input type="date" name="date" value="{{ nowdate }}"><br>
    <input type="time" name="time" value="{{ nowtime }}"><br>
    <select name="value">
        <option value="10ml">10ml</option>
        <option value="20ml">20ml</option>
        <option value="30ml">30ml</option>
        <option value="40ml">40ml</option>
        <option value="50ml">50ml</option>
        <option value="60ml">60ml</option>
        <option value="70ml">70ml</option>
        <option value="80ml">80ml</option>
        <option value="90ml">90ml</option>
        <option value="100ml">100ml</option>
        <option value="110ml">110ml</option>
        <option value="120ml">120ml</option>
        <option value="130ml">130ml</option>
        <option value="140ml">140ml</option>
        <option value="150ml">150ml</option>
        <option value="160ml">160ml</option>
        <option value="170ml">170ml</option>
        <option value="180ml">180ml</option>
        <option value="190ml">190ml</option>
        <option value="200ml">200ml</option>
        <option value="210ml">210ml</option>
        <option value="220ml">220ml</option>
        <option value="230ml">230ml</option>
        <option value="240ml">240ml</option>
        <option value="250ml">250ml</option>
    </select>
    <br>
    <textarea name="memo"></textarea>
    <br>
    <a href="/" class="btn btn-large" type="button">キャンセル</a>
    <input class="btn btn-large" type="submit" value="登録">
</form>

<a name="other"></a>
<br><br>
<h3>その他</h3>
<form method="POST" action="/save">
    <input type="hidden" name="type" value="other">
    <input type="date" name="date" value="{{ nowdate }}"><br>
    <input type="time" name="time" value="{{ nowtime }}"><br>
    <div class="btn-group othbtn" data-toggle="buttons-radio">
        <button type="button" class="btn" name="desc" value="split">吐戻</button>
        <button type="button" class="btn" name="desc" value="cloth">着替</button>
        <button type="button" class="btn" name="desc" value="bath">沐浴</button>
        <button type="button" class="btn" name="desc" value="out">外出</button>
        <button type="button" class="btn" name="desc" value="other">他</button>
    </div>
    <input type="hidden" id="othbtn" name="desc" value="">
    <br>
    <textarea name="memo"></textarea>
    <br>
    <a href="/" class="btn btn-large" type="button">キャンセル</a>
    <input class="btn btn-large" type="submit" value="登録">
</form>


{% include 'footer.html' %}

<script>
    $(".peebtn .btn").click(function() {
        $("#peebtn").val($(this).attr('value'));
    });
    $(".boobtn .btn").click(function() {
        $("#boobtn").val($(this).attr('value'));
    });
    $(".pee2btn .btn").click(function() {
        $("#pee2btn").val($(this).attr('value'));
    });
    $(".boo2btn .btn").click(function() {
        $("#boo2btn").val($(this).attr('value'));
    });
    $(".milkbtn .btn").click(function() {
        $("#milkbtn").val($(this).attr('value'));
    });
    $(".othbtn .btn").click(function() {
        $("#othbtn").val($(this).attr('value'));
    });
</script>

